.grid-1 {
    grid-area: written;
}
.grid-2 {
    grid-area: image;
}
.grid-container {
    display: grid;
    grid-template-areas: 'written  image'
}
.written-content {
    padding-top: 60%;
    padding-left: 80%;
}
.circular-image {
    padding-top:  25%;
    padding-left: 20%;
    position: relative;
    width: 200;
    height: 200;
    overflow: hidden;
}
img {
    border-radius: 50%;
}
a {
    color: black;
}
h2 {
    font-family: fantasy;
}
p {
    font-family: fantasy;
}