.content {
    text-align: center;
}
h1 {
    font-family: fantasy;
    font-size: 128px;
}
/*Used a tag and class in combination, as per the comments on HTML 03 and 04, also I turned in styled sheet.css*/
.content p {
    font-family: fantasy;
    font-size: 64px;
}
